body {
  font-family: "Courier" !important;
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.map {
  background-image: url("./academy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.door {
  background-image: url("./door.svg");
  /*width: 20px;
  height: 20px;*/
}