body {
  color: white !important;
  font-family: "Courier" !important;
  background-color: black !important;
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}

.map {
  background-image: url("./academy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.door {
  background-image: url("./door.svg");
  /*width: 20px;
  height: 20px;*/
}

#root {
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
}

.canvas {
  width: inherit;
  height: inherit;
  overflow: hidden;
  overflow-y: hidden;
  flex-wrap: 'nowrap';
}

.bubble {
  padding: 10;
  background-color: rgba(0,0,0,.8);
  max-height: '100%';
  overflow: 'hidden';
  border: '10px double #1C6EA4';
  border-radius: '40px';
  flex-wrap: 'nowrap';
}

/*.MuiTableCell-root {
  font-size: 0.75rem !important;
}*/