body {
  color: white !important;
  font-family: "Courier" !important;
  background-color: black !important;
  /*background-image: url("./bg.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}

.map {
  /*background-image: url("./academy.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

#root {
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
}

.canvas {
  width: inherit;
  height: inherit;
  overflow: hidden;
  overflow-y: hidden;
  flex-wrap: 'nowrap';
}

/*.bubble {
  padding: 10;
  background-color: rgba(0,0,0,.8);
  max-height: '100%';
  overflow: 'hidden';
  border: '10px double #1C6EA4';
  border-radius: '40px';
  flex-wrap: 'nowrap';
}*/

.bubble {
  background-color: rgba(0,0,0,.8);
  max-height: 100%;
  border: 1px dashed #1C6EA4;
  border-radius: 40px;
  padding: 10px;
}

.dialog {
  /*text-indent: 30px;*/
  /*border: 1px dashed #1C6EA4;*/
  /*border-radius: 40px;*/
  color: grey;
  font-style: italic;
  padding: 10px;
}

.highlight {
  color: #fffb7f;
}
